header{
    text-align: center;
    background-color: aqua;
    height: 100px;
}

nav{
    text-align: center;
    background-color: aquamarine;
    height: 70px;
}

.meu-div{
    background-color: aqua;
    text-align:center;
    flex: 1;
    border: 1px solid black;
    padding: 80px;
    
}
.container{
    display: flex;
    padding-top: 3%;
    padding-left: 3%;
    padding-right: 3%;
}

footer{
    background-color: aquamarine;
    height: 70px;
    text-align: center;
}

.flex-box{
    background-color: bisque;
   flex: 1 0 200px;
   height: 200px;
}